// Variables
// ---------------------------
// Set initial variables to be used throughout

// TODO: Do I need this variable?
// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;
//

/* TODO: remove this content list once done

A. BASICS
	A1. Page Setup
		- Page Dimensions
		- Rhythm
		- Gutters
		- Media Queries

	A2. Atmosphere
		- Black & Whites
		- Neutral Colours
		- Scaffolding
		- Branding
		- Headings
		- Social Media Branding
		- Hyperlinks
		- Blockquotes
		- Misc

	A3. Typography
		- Typefaces
		- Sizes
		- Weights
		- Iconography

B. COMPONENTS
	B1. Base Components
		- Borders
	B2. Component Animations
	B3. Alerts
	B4. Badges
	B5. Breadcrumbs
	B6. Button Groups
	B7. Buttons
	B8. Carousel
	B9. Close
	B10. Code
	B11. Dropdowns
	B12. Forms
	B13. Jumbotron
	B14. Labels
	B15. List Group
	B16. Media
	B17. Modals
	B18. Navbar
	B19. Navs
	B20. Pagination
	B21. Panels
	B22. Popovers
	B23. Progress Bars
	B24. Tables
	B25. Thumbnails/Figures
	B26. Tooltip
	B27. Wells
*/

// A. BASICS

// A1. PAGE SETUP

// - Page dimensions
$max-width: 																	1400px;
$desktop-width:																	940px;
$tablet-width:																	724px;
$mobile-width:																	440px;

// - Rhythm
$base-font-size:																16;
$base-line-height:																24;
$rhythm-unit:																	$base-line-height/2;

$large-rhythm-unit:																$base-line-height;
$small-rhythm-unit:																$base-line-height/3;
$extra-small-rhythm-unit:														$base-line-height/4;

// - Gutters
$gutter-width:																	gs-gutter(d,false,true);
// $desktop-gutter-width:															gs-adjust(d,gs-gutter(d),(9,12),true);

// - Media Queries
//  class name to target browsers that don't support media queries
$no-mq-classname:																".lt-ie9";

// - Radius
$radius:																		5px !default;
$radius-large:																	$radius * 1.5;
$radius-small:																	$radius / 1.5;

// A2. ATMOSPHERE

// - Blacks & Whites
$black:																			rgb(0,0,0);
$white:																			rgb(255,255,255);

// - Neutral Colours
$gray-darker:																	lighten($black, 13.5%) !default; // #222
$gray-dark:																		lighten($black, 20%) !default; // #333
$gray:																			lighten($black, 33.5%) !default; // #555
$gray-light:																	lighten($black, 60%) !default; // #999
$gray-lighter:																	lighten($black, 86.5%) !default; // #DDD
$gray-lightest:																	lighten($black, 93.5%) !default; // #eee

$dark-contrast:																	rgb(54, 57, 55) !default;


// - Branding
$brand-primary:																	rgb(202,98,83) !default; // Sunglo Red
$brand-secondary:																rgb(255,202,8)!default; // Thistle Green
$brand-tertiary:																rgb(244, 239, 218) !default;
$brand-success:																	rgb(92,184,92) !default;
$brand-info:																	rgb(91,192,222) !default;
$brand-warning:																	rgb(240,173,78) !default;
$brand-danger:																	rgb(232,42,36) !default;

$brand-home:																	rgb(123, 115, 118) !default;
$brand-projects:																rgb(134, 103, 57) !default;
$brand-services:																rgb(92, 124, 129) !default;
$brand-about:																	rgb(153, 82, 61) !default;
$brand-articles:																rgb(85, 103, 137) !default;
$brand-casestudies:																rgb(112, 83, 113) !default;
$brand-contact:																	rgb(178,105,104) !default;

$brand-basic:																	rgb(202,98,83) !default;
$brand-premium:																	rgb(92, 124, 129) !default;
$brand-advanced:																rgb(85, 103, 137) !default;

// - Scaffolding
$body-background-color:															$dark-contrast !default;
$text-color:																	$white !default;

// - Headings
$headings-text-color:															$brand-tertiary;
$sub-headings-text-color:														$white;
$headings-small-text-color:														$gray-light;

// - Social Media Branding
$brand-twitter:																	rgb(53,204,255);
$brand-facebook:																rgb(3,83,158);
$brand-linkedin:																rgb(33,123,193);
$brand-pinterest:																rgb(203,32,39);
$brand-dribbble:																rgb(234,76,137);
$brand-google:																	rgb(221,75,57);
$brand-youtube:																	rgb(229,45,39);
$brand-codepen:																	$black;
$brand-github:																	rgb(34,34,34);
$brand-spotify:																	rgb(132,189,0);
$brand-wordpress:																rgb(33,117,155);
$brand-apple:																	$black;
$brand-instagram:																rgb(81,127,164);
$brand-windows:																	rgb(0,161,207);
$brand-android:																	rgb(164,198,57);
$brand-drupal:																	rgb(44,130,197);
$brand-flickr:																	$black;
$brand-vimeo:																	rgb(69,187,255);
$brand-feed:																	rgb(248,148,55);



// Third Party Branding
$brand-fontawesome:																rgb(34,34,34);
$brand-mixture:																	rgb(249,249,249);

// - Hyperlinks
$link-color:																	$brand-secondary !default;
$link-hover-color:																darken($link-color,10%) !default;
$title-link-color:																$brand-tertiary !default;
$title-link-hover-color:														darken($title-link-color,10%) !default;

// - Blockquotes
$blockquote-text-color:															$gray-darker;
$blockquote-background-color:													transparent;
$blockquote-border-color:														$gray-darker !default;
$blockquote-border-size:														0px;
$blockquote-border-style:														solid;
$blockquote-cite-color:															$gray-darker;

// - Misc
$text-muted:																	$gray-light !default;
$abbr-border-color:																$gray-light !default;
$hr-border:																		$gray-lighter !default;

// - Code
$code-text-color:																$brand-primary !default;
$code-background-color:															lighten($code-text-color, 50%) !default;
$code-border-color:																darken(adjust-hue($code-background-color, -10), 5%) !default;

// - KBD
$kbd-text-color:																$white !default;
$kbd-background-color:															$brand-secondary !default;
$kbd-border-color:																darken(adjust-hue($kbd-background-color, -10), 5%) !default;

// - Pre
$pre-text-color:																$brand-secondary !default;
$pre-background-color:															$gray-darker !default;
$pre-border-color:																darken(adjust-hue($pre-background-color, -10), 5%) !default;

// - State Colors
$state-success-text-color:														rgb(60,118,61) !default;
$state-success-background-color:												$brand-success !default;
$state-success-border-color:													darken(adjust-hue($state-success-background-color, -10), 5%) !default;

$state-info-text-color:															rgb(49,112,143) !default;
$state-info-background-color:													$brand-info !default;
$state-info-border-color:														darken(adjust-hue($state-info-background-color, -10), 7%) !default;

$state-warning-text-color:														rgb(138,109,59) !default;
$state-warning-background-color:												$brand-warning !default;
$state-warning-border-color:													darken(adjust-hue($state-warning-background-color, -10), 5%) !default;

$state-danger-text-color:														rgb(169,68,66) !default;
$state-danger-background-color:													$brand-danger !default;
$state-danger-border-color: 													darken(adjust-hue($state-danger-background-color, -10), 5%) !default;

// - Component Colors
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:														$white !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-background-color:												$brand-primary !default;

// A3. TYPOGRAPHY

// - Typefaces


$base-font-family:																'museo',sans-serif !default;
$base-font-family-serif:														Georgia, "Times New Roman",Times,serif !default;
$base-font-family-headings:														"alternate-gothic-no-2-d", sans-serif !default;
$base-font-family-condensed:													sans-serif;
$base-font-family-code:															'Source Sans Pro',Monaco,"Courier New",monospace !default;
$base-font-family-amp:															Baskerville, Georgia,Garamond,'Palatino','Book Antiqua';

// - Sizes
// Base font size is declared earlier in document for Baseline grid

$h1:																			30;
$h2:																			24;
$h3:																			18;
$h4:																			14;
$h5:																			12;
$h6:																			10;
$p:																				14;
$font-size-code:																14;
$font-size-small:																12;
$font-size-large:																18;
$font-size-extra-small:															10;
$font-size-jumbo:																48;
$font-size-headline:															72;

$brand-font-size:																16;
$navbar-font-size:																16;

$input-font-size:																14;
$legend-font-size:																16;

// - Weights
$light:																			300;
$normal:																		400;
$semi-bold:																		600;
$bold:																			700;
$extra-bold:																	800;
$black-bold:																	900;

// - Blockquote
$blockquote-font-size:															14 !default;




// B. COMPONENTS

// B1. BASE COMPONENTS

// - Borders
$border-color:																	$gray-lightest !default;
$border-style:																	solid !default;
$border-width:																	1px !default;
$border-radius:																	$radius;
$border-radius-large:															$radius-large;
$border-radius-small:															$radius-small;

//-- Z-index master list

$zindex-navbar:																	1000 !default;
$zindex-dropdown:																1000 !default;
$zindex-popover:																1010 !default;
$zindex-tooltip:																1030 !default;
$zindex-navbar-fixed:															1030 !default;
$zindex-modal-background:														1040 !default;
$zindex-modal:																	1050 !default;

// - Transitions
$transition-speed:																.3s !default;

// - Misc
//** Horizontal offset for forms and lists.
$component-offset-horizontal:													180px !default;

// B2.  Animatons

// No Variables required

// B3. Alerts

$alert-padding:																	rem($rhythm-unit) !default;
$alert-border-radius:															$radius !default;
$alert-link-font-weight:														$bold !default;

$alert-success-background-color:												$state-success-background-color !default;
$alert-success-text-color:														$state-success-text-color !default;
$alert-success-border-color:													$state-success-border-color !default;

$alert-info-background-color:													$state-info-background-color !default;
$alert-info-text-color:															$state-info-text-color !default;
$alert-info-border-color:														$state-info-border-color !default;

$alert-warning-background-color:												$state-warning-background-color !default;
$alert-warning-text-color:														$state-warning-text-color !default;
$alert-warning-border-color:													$state-warning-border-color !default;

$alert-danger-background-color:													$state-danger-background-color !default;
$alert-danger-text-color:														$state-danger-text-color !default;
$alert-danger-border-color:														$state-danger-border-color !default;

// B4. Badges

$badge-color:																	$white !default;
$badge-link-hover-color:														$white !default;
$badge-background-color:														$brand-primary !default;

$badge-active-color:															$link-color !default;
$badge-active-background-color:													$white !default;

$badge-font-weight:																$bold !default;
$badge-border-radius:															10px !default;

// B5 Breadcrumbs
$breadcrumb-padding-vertical:													rem($rhythm-unit)/2 !default;
$breadcrumb-padding-horizontal:													rem($rhythm-unit) !default;

$breadcrumb-background-color:													transparent !default;
$breadcrumb-background-border-color:											darken($breadcrumb-background-color, 6.5%) !default;
$breadcrumb-text-color:															$gray-lighter !default;

$breadcrumb-active-color:														$brand-primary !default;

$breadcrumb-separator:															"/" !default;

// B6. Button Groups //

// No Variables required

// B7. Buttons

$btn-font-weight:																normal !default;
$button-radius:																	0 !default;

$btn-default-color:																$white !default;
$btn-default-background-color:													rgb(122,115,107) !default;
$btn-default-border-color:														$gray-light !default;

$btn-primary-color:																$white !default;
$btn-primary-background-color:													$brand-primary !default;
$btn-primary-border-color:														darken($btn-primary-background-color, 20%) !default;

$btn-secondary-color:															$gray-dark !default;
$btn-secondary-background-color:												$brand-secondary !default;
$btn-secondary-border-color:													darken($btn-secondary-background-color, 5%) !default;

$btn-tertiary-color:															$white!default;
$btn-tertiary-background-color:													rgb(77,61,59) !default;
$btn-tertiary-border-color:														darken($btn-tertiary-background-color, 5%) !default;

$btn-dark-color:																$white;
$btn-dark-background-color:														$dark-contrast;
$btn-dark-border-color:															darken($dark-contrast, 20%);

$btn-success-color:																$white !default;
$btn-success-background-color:													$brand-success !default;
$btn-success-border-color:														darken($btn-success-background-color, 5%) !default;

$btn-info-color:																$white !default;
$btn-info-background-color:														$brand-info !default;
$btn-info-border-color:															darken($btn-info-background-color, 5%) !default;

$btn-warning-color:																$white !default;
$btn-warning-background-color:													$brand-warning !default;
$btn-warning-border-color:														darken($btn-warning-background-color, 5%) !default;

$btn-danger-color:																$white !default;
$btn-danger-background-color:													$brand-danger !default;
$btn-danger-border-color:														darken($btn-danger-background-color, 5%) !default;

$btn-link-disabled-color:														$gray-light !default;

// B8. Carousel

$carousel-control-font-size:													64px !default;
$carousel-text-shadow:															0 1px 2px rgba($black,.6) !default;

$carousel-control-color:														$white !default;
$carousel-control-width:														64px !default;
$carousel-control-opacity:														.5 !default;

$carousel-indicator-active-background-color:									$white !default;
$carousel-indicator-border-color: 												$gray-light !default;

$carousel-caption-color:														$brand-primary !default;

// B9. Close

$close-font-weight:																$bold !default;
$close-color:																	$black !default;
$close-text-shadow:																0 1px 0 $white !default;

// B10. Code

$pre-scrollable-max-height:														340px !default;

// B11. Dropdowns
$dropdown-background-color:														$white !default;
$dropdown-border-color:															darken($dropdown-background-color, 5%) !default;

$dropdown-fallback-border-color:												$gray-lighter !default;

$dropdown-divider-background-color:												$gray-lighter !default;

$dropdown-link-color:															$gray-dark !default;
$dropdown-link-hover-color:														darken($gray-dark, 5%) !default;
$dropdown-link-hover-background-color:											$gray-lightest !default;

$dropdown-link-active-color:													$component-active-color !default;
$dropdown-link-active-background-color:											$component-active-background-color !default;

$dropdown-link-disabled-color:													$gray-light !default;

$dropdown-header-color:															$brand-primary !default;

$caret-width-base:																4px !default;
$caret-width-large:																5px !default;

// B12. Forms

$form-background-color:															transparent !default;
$form-background-border-color:													darken($form-background-color, 5%) !default;

$form-label-color:																$brand-tertiary !default;
$form-note-color:																$gray !default;
$form-note-background-color:													lighten($brand-info,30%) !default;
$form-note-border-color:														darken($form-note-background-color,5%) !default;

$input-background-color:														rgba($gray-lightest, 1)!default;
$input-background-focus-color:													rgba($gray-lightest, .85) !default;
$input-background-disabled-color:												$gray-lightest !default;

$input-color:																	$gray-darker !default;
$input-border-color:															$gray-darker !default;
$input-border-radius:															$radius !default;
$input-border-focus-color:														$gray-darker  !default;

$input-color-placeholder-color:													rgba($gray-light,.4) !default;

// TODO: Investigate these values further
$input-height-base:																$rhythm-unit*3 !default;
$input-height-large:															$rhythm-unit*4 !default;
$input-height-small:															$rhythm-unit*1.5 !default;

$legend-color:																	$white !default;
$legend-background-color:														$brand-secondary !default;

$input-group-addon-background-color:											$gray-lighter !default;
$input-group-addon-border-color: 												$input-border-color !default;

// B13. Jumbotron

$jumbotron-padding:																rem(30) !default;
$jumbotron-color:																$white !default;
$jumbotron-background-color:													$brand-primary !default;
$jumbotron-heading-color:														inherit !default;
$jumbotron-font-size:															ceil(($base-font-size * 1.5)) !default;

// B14. Labels

$label-default-background-color:												$gray-light !default;
$label-primary-background-color:												$brand-primary !default;
$label-success-background-color:												$brand-success !default;
$label-info-background-color:													$brand-info !default;
$label-warning-background-color:												$brand-warning !default;
$label-danger-background-color:													$brand-danger !default;

$label-color:																	$white !default;
$label-link-hover-color:														$white !default;

$label-font-size:																75% !default;

// B15. List Group
$list-group-background-color:													transparent !default;
$list-group-border-color:														transparent !default;
$list-group-border-radius:														0 !default;

$list-group-hover-background-color:												transparent !default;
$list-group-active-color:														$component-active-color !default;
$list-group-active-background-color:											$component-active-background-color !default;
$list-group-active-border-color:												darken($list-group-active-background-color, 5%) !default;
$list-group-active-text-color:													lighten($list-group-active-border-color, 40%) !default;

$list-group-link-heading-color: 												$gray-dark !default;

// B16. Media

// No variables required

// B17. Modals

$modal-inner-padding:															rem($rhythm-unit) !default;

$modal-title-padding:															rem($rhythm-unit) !default;
$modal-title-line-height:														$base-line-height !default;

$modal-content-background-color:												$brand-tertiary !default;
$modal-content-border-color:													darken($modal-content-background-color, 4%) !default;
$modal-content-fallback-border-color:											$gray-light !default;

$modal-backdrop-background-color:												$black !default;
$modal-backdrop-opacity:														.7 !default;
$modal-header-border-color:														$gray-lighter !default;
$modal-footer-border-color:														$modal-header-border-color !default;

$modal-large:																	gs-width(d,1,10,false,true) !default;
$modal-medium:																	gs-width(d,1,5,false,true) !default;
$modal-small:																	gs-width(d,1,3,false,true) !default;

// B18. Navbar

// Basics of a navbar
$navbar-height:																	$rhythm-unit*4 !default;
$navbar-margin-bottom:															$base-line-height !default;
$navbar-border-radius:															$border-radius !default;
$navbar-padding-horizontal:														rem($rhythm-unit)*2 !default;
$navbar-padding-vertical:														rem($rhythm-unit)  !default;
$navbar-collapse-max-height:													340px !default; // Not currently used

$navbar-default-color:															$gray-lightest !default;
$navbar-default-background-color:												transparent !default;
$navbar-default-border-color:													darken($navbar-default-background-color, 6.5%) !default;

// Navbar links
$navbar-default-link-color:														$gray !default;
$navbar-default-link-hover-color:												$brand-primary !default;
$navbar-default-link-hover-background-color:									transparent !default;
$navbar-default-link-active-color:												$navbar-default-link-hover-color !default;
$navbar-default-link-active-background-color:									darken($navbar-default-background-color, .5%) !default;
$navbar-default-link-disabled-color:											$gray-light !default;
$navbar-default-link-disabled-background-color:									transparent !default;

// Navbar brand label
$navbar-default-brand-color:													$navbar-default-link-color !default;
$navbar-default-brand-hover-color:												darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-background-color:									transparent !default;

// Navbar toggle
$navbar-default-toggle-background-color:										$gray-light !default;
$navbar-default-toggle-hover-background-color:									darken($navbar-default-toggle-background-color,6.5%) !default;
$navbar-default-toggle-icon-bar-background-color:								$white !default;
$navbar-default-toggle-border-color:											darken($navbar-default-toggle-background-color,6.5%) !default;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:															$gray-light !default;
$navbar-inverse-background-color:												$gray-darker !default;
$navbar-inverse-border-color:													darken($navbar-inverse-background-color, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:														$gray-light !default;
$navbar-inverse-link-hover-color:												$white !default;
$navbar-inverse-link-hover-background-color:									transparent !default;
$navbar-inverse-link-active-color:												$navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-background-color:									darken($navbar-inverse-background-color, 10%) !default;
$navbar-inverse-link-disabled-color:											$gray-dark !default;
$navbar-inverse-link-disabled-background-color:									transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:													$navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:												$white !default;
$navbar-inverse-brand-hover-background-color:									transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-background-color:									$gray-darker!default;
$navbar-inverse-toggle-icon-bar-background-color:								$white !default;
$navbar-inverse-toggle-border-color:											$gray-darker !default;

// Sub Menu
$navbar-submenu-background-color:												lighten($brand-primary,15%) !default;

// B19. Navs
//=== Shared nav styles
$nav-link-padding:																rem($rhythm-unit)*.5 rem($rhythm-unit) !default;
$nav-link-hover-background-color:												rgba($brand-secondary,.3) !default;

$nav-disabled-link-color:														$gray-light !default;
$nav-disabled-link-hover-color:													$gray-light !default;

$nav-open-link-hover-color:														$white !default;

//== Tabs
$nav-tabs-border-color:															$gray-lighter !default;

$nav-tabs-link-hover-border-color:												$gray-lighter !default;

$nav-tabs-active-link-hover-background-color:									$brand-primary !default;
$nav-tabs-active-link-hover-color:												$gray !default;
$nav-tabs-active-link-hover-border-color:										darken($nav-tabs-active-link-hover-background-color,10%) !default;

$nav-tabs-justified-link-border-color:											$gray-lighter !default;
$nav-tabs-justified-active-link-border-color:									$body-background-color !default;

//== Pills
$nav-pills-border-radius:														$border-radius !default;
$nav-pills-active-link-hover-background-color:									$component-active-background-color !default;
$nav-pills-active-link-hover-color:												$component-active-color !default;

// B20. Pagination
$pagination-color:																$link-color !default;
$pagination-background-color:													none !default;
$pagination-border-color:														none !default;

$pagination-hover-color:														$link-hover-color !default;
$pagination-hover-background-color:												none !default;
$pagination-hover-border-color:													none !default;

$pagination-active-color:														$white !default;
$pagination-active-background-color:											none !default;
$pagination-active-border-color:												none !default;

$pagination-disabled-color:														$gray-light !default;
$pagination-disabled-background-color:											$white !default;
$pagination-disabled-border-color:												$gray-lighter !default;

// -Pager
$pager-background-color:														$pagination-background-color !default;
$pager-border-color:															$pagination-border-color !default;
$pager-border-radius:															$radius !default;

$pager-hover-background-color:													$pagination-hover-background-color !default;

$pager-active-background-color:													$pagination-active-background-color !default;
$pager-active-color:															$pagination-active-color !default;

$pager-disabled-color:															$pagination-disabled-color !default;

// B21. Panels

$panel-padding:																	rem($rhythm-unit) !default;
$panel-background-color:														$white !default;
$panel-text-color:																$gray-dark !default;
$panel-body-padding:															0 !default;
$panel-header-padding:															0 !default;
$panel-footer-padding:															0 !default;
$panel-border-radius:															0 !default;

$panel-inner-border-color:														$gray-lighter  !default;
$panel-footer-background-color:													$brand-tertiary !default;

$panel-default-text-color:														$gray-dark !default;
$panel-default-border-color:													$gray-dark !default;
$panel-default-heading-background-color:										transparent !default;
$panel-default-heading-text-color:												$brand-tertiary !default;

$panel-primary-text-color:														$white !default;
$panel-primary-border-color:													$brand-primary !default;
$panel-primary-heading-background-color:										$brand-primary !default;

$panel-success-text-color:														$state-success-text-color !default;
$panel-success-border-color:													$state-success-border-color !default;
$panel-success-heading-background-color:										$state-success-background-color !default;

$panel-info-text-color:															$state-info-text-color !default;
$panel-info-border-color:														$state-info-border-color !default;
$panel-info-heading-background-color:											$state-info-background-color !default;

$panel-warning-text-color:														$state-warning-text-color !default;
$panel-warning-border-color:													$state-warning-border-color !default;
$panel-warning-heading-background-color:										$state-warning-background-color !default;

$panel-danger-text-color:														$state-danger-text-color !default;
$panel-danger-border-color:														$state-danger-border-color !default;
$panel-danger-heading-background-color:											$state-danger-background-color !default;

// B22. Popovers

$popover-background-color:														$white !default;
$popover-max-width:																gs-width(d,1,3,false,true) !default;
$popover-border-color:															darken($popover-background-color, 10%) !default;
$popover-fallback-border-color:													$gray-lighter !default;

$popover-title-background-color:												darken($popover-background-color, 3%) !default;

$popover-arrow-width:															10px !default;
$popover-arrow-color:															$white !default;

$popover-arrow-outer-width:														($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:														fadein($popover-background-color, 5%) !default;
$popover-arrow-outer-fallback-color:											$gray-lighter !default;

// B23. Progress Bars

$progress-background-color:														$gray-lighter !default;
$progress-bar-color:															$white !default;

$progress-bar-background-color:													$brand-primary !default;
$progress-bar-success-background-color:											$brand-success !default;
$progress-bar-warning-background-color:											$brand-warning !default;
$progress-bar-danger-background-color:											$brand-danger !default;
$progress-bar-info-background-color:											$brand-info !default;

// B24. Tables

$table-cell-padding:															rem($rhythm-unit) !default;
$table-condensed-cell-padding: 													rem($rhythm-unit)/2 !default;

$table-background-color:														transparent !default;
$table-background-accent-color:													$gray-lightest !default;
$table-background-hover-color:													$gray-lightest !default;
$table-background-active-color:													$table-background-hover-color !default;

$table-border-color:															$brand-secondary !default;

// B25. Thumbnails/Figures

$thumbnail-padding:																rem($rhythm-unit)/4 !default;
$thumbnail-background-color:													transparent!default;
$thumbnail-border-color:														$gray-lighter !default;
$thumbnail-border-radius:														$border-radius !default;

$thumbnail-caption-text-color:													$white !default;
$thumbnail-caption-padding:														rem($rhythm-unit)/1.5 !default;

$circle-radius:																	500px !default;

// B26. Tooltip

$tooltip-max-width:			 													200px !default;
$tooltip-color:																	$white!default;
$tooltip-background-color:														$black !default;
$tooltip-opacity:																.9 !default;

$tooltip-arrow-width:															5px !default;
$tooltip-arrow-color:															$tooltip-background-color !default;

// B27. Wells

$well-background-color:															rgba(245, 249, 236, 1) !default;
$well-border:																	darken($well-background-color, 7%) !default;
