// Lists
// ---------------------------
// Mixin for Lists
@mixin inline-list {
	padding: 0;
	display: inline;
	list-style: none;
}
@mixin block-list {
	padding: 0;
	display: block;
	list-style: none;
}
@mixin no-bullet {
	padding: 0;
	list-style: none;
}
@mixin bullets($bullet, $padding-left: 0) {
	background: url($bullet) no-repeat 0 0;
	padding-left: $padding-left;
}
@mixin list-group-item-variant($state, $background, $color) {
	&--#{$state} {
		color: $color;
		background-color: $background;
		// [converter] extracted a& to a.list-group-item-#{$state}
	}
}
@mixin list-group-item-link-variant($state,$background,$color) {
	&--#{$state} {
		color: $color;
		&:hover, &:focus {
			color: $color;
			background-color:  darken($background,5%);
		}
		&.active, &active:hover, &.active:focus {
			color: $white;
			background-color: $color;
			border-color: $color;
		}
	}
}
