// Tables
// ---------------------------
// Mixin for Tables

// Condensed Tables
@mixin table-padding($direction,$grid,$start,$end,$container-start,$container-end) {
	@if $direction == 'left'{
		$padding-left: gs-width($grid,$start,$end,($container-start,$container-end), false) + gs-gutter($grid,($container-start,$container-end), false);
		padding-left: $padding-left#{"%"};
	}
	@if $direction == 'right'{
		$padding-right: gs-gutter($grid,($container-start,$container-end), false);
		padding-right: $padding-right#{"%"};
	}
}
@mixin table-row-variant($state, $background) {
	// Exact selectors below required to override `.table-striped` and prevent
	// inheritance to nested tables.
	.table > thead > tr,
	.table > tbody > tr,
	.table > tfoot > tr {
		> td.#{$state},
		> th.#{$state},
		&.#{$state} > td,
		&.#{$state} > th {
			background-color: $background;
		}
	}
	// Hover states for `.table-hover`
	// Note: this is not available for cells or rows within `thead` or `tfoot`.
	.table-hover > tbody > tr {
		> td.#{$state}:hover,
		> th.#{$state}:hover,
		&.#{$state}:hover > td,
		&.#{$state}:hover > th {
			background-color: darken($background, 5%);
		}
	}
}