// Panels
// ---------------------------
// styles for Panels, overrides Bootstrap

.panel {
	border: 0;
	padding: $panel-padding;
	// Headings
	&__header {
		background: $panel-header-background-color;
		border-bottom: $border-width $border-style $border-color;
		color: $panel-default-heading-text-color;
		padding: $panel-header-padding;
		h1 {
			color: inherit;
			margin-bottom: 0;
		}
		p {
			margin: 0;
		}
	}
	// Body
	&__body {
		padding: $panel-body-padding;
		&__section {
			@include gs-span(m,all);
			padding-bottom: rem($rhythm-unit)*4;
			border-bottom: $border-style $border-width $border-color;
			margin-bottom: rem($rhythm-unit)*4;
			&:last-of-type {
				padding-bottom: 0;
				border: none;
				margin-bottom: 0;
			}
			header {
				margin-bottom: rem($rhythm-unit)*2;
				p {
					color: $gray-light;
				}
			}
		}
	}
	// Footer
	&__footer {
		background: $brand-tertiary;
		border: 0;
		padding: $panel-footer-padding;
	}


}

