// Panels
// ---------------------------
// styles for Panels, overrides Bootstrap

.panel {
	padding: 0;
	// Headings
	&__heading {
		border-bottom: none;
		padding: rem($rhythm-unit) rem($rhythm-unit)*2;
		figure {
			margin-bottom: rem($rhythm-unit)*2;
		}
		.panel--projects & {
			padding-bottom: 0;
		}
		.panel--articles & {
			h2 {
				color: $brand-articles;
				margin-bottom: rem($rhythm-unit)*2;
			}
		}
		.panel--articles--featured & {

			h2 {
				background: $brand-articles;
				padding: 5px 10px;
				color: $white;
				border-radius: 5px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				position: absolute;
				top: 0;
				text-align: left;
				margin-bottom: rem($rhythm-unit)*2;
			}
		}
		.panel--projects--featured & {
			h2 {
				/*
background: $brand-projects;
				padding: 5px 10px;
*/
				color: $white;
				/*
border-radius: 5px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
*/
				position: absolute;
				top: 0;
				text-align: left;
				margin-bottom: rem($rhythm-unit)*2;
			}
		}
	}
	// Body
	&__body {
		// margin-bottom: rem($rhythm-unit)*3;
		padding: rem($rhythm-unit)*2;
		.content {
// 			margin-bottom: rem($rhythm-unit)*3;
			padding: 0;
			p {
				margin-bottom: rem($rhythm-unit);
			}
		}
	}

	// Splash
	.block--splash & {
		@extend .wrapper;
		float: none;
		background: none;
		padding-top: rem($rhythm-unit)*2;
		padding-bottom: rem($rhythm-unit)*2;
		img.splash {
			display: block;
			margin-bottom: rem($rhythm-unit);
			@include gs-media(d,min) {
				margin-bottom: 0;
			}
		}
		.panel__heading {
			@include gs-span(m,all);
			@include gs-media(d,min) {
				@include gs-span(d,5,8);
			}
			@include gs-media(d,min) {
				margin-top: -100px;
				position: relative;
				z-index: 100;
			}

			padding: 0;
			text-align: center;
			border: none;
			h1 {
				@include font-size($h1,$line-height:false,$margin-bottom:false);
				font-family: $base-font-family;
				text-transform: none;
				color: $brand-primary;
			}

		}
		.panel__body {
			@extend .wrapper;
			@include gs-span(m,all);
			@include gs-media(d,min) {
				@include gs-span(d,4,9);
			}
			padding: 0;
			text-align: center;
			margin-bottom: rem($rhythm-unit)*4;
			p {
				@include font-size($h3,$line-height:false,$margin-bottom:false);
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			ul.meta {
				margin-top: rem($rhythm-unit)*2;
				margin-bottom: 0;
			}
		}
		.panel__extra {
			@extend .wrapper;
			@include gs-span(m,all);
			margin-top: rem($rhythm-unit)*2;
		}
		.panel__footer {
			@extend .panel__body;
			background: none;
			text-align: center;
			border: none;
			margin-bottom: 0;
			ul.meta {
				margin-bottom: 0;
			}

		}
		figure {
			text-align: center;
			img {
				max-width: 50%;
				display: block;
				margin: 0 auto;
			}
		}
		figcaption {
			font-style: normal;
			@include font-size($h3,$line-height:false,$margin-bottom:false);
		}
	}
	// Intro
	.block--intro & {
		@extend .wrapper;
		float: none;
		background: none;
		padding-top: rem($rhythm-unit)*2;
		padding-bottom: rem($rhythm-unit)*2;
		img.splash {
			display: block;
		}
		.panel__heading {
			@include gs-span(m,all);
			@include gs-media(d,min) {
				@include gs-span(d,3,10);
			}
			margin-bottom: 0;
			padding: 0;
			text-align: center;
			border: none;
			h1 {
				@include font-size($font-size-headline,$line-height:false,$margin-bottom:false);
				font-family: $base-font-family-headings;
				color: $brand-primary;
			}

		}
		.panel__body {
			@extend .wrapper;
			@include gs-span(m,all);
			@include gs-media(d,min) {
				@include gs-span(d,4,9);
			}
			padding: 0;
			text-align: center;
// 			margin-bottom: rem($rhythm-unit)*4;
			p {
				@include font-size($h3,$line-height:false,$margin-bottom:false);
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			ul.meta {
// 				margin-top: rem($rhythm-unit)*2;
				margin-bottom: rem($rhythm-unit)*3;
// 				background: rgba($white,.5);
// 				border-radius: $radius;
// 				padding: 10px;
// 				width: auto;
				padding-bottom: rem($rhythm-unit)/2;
				display: block;
				border-bottom: 1px dashed rgba($black,.2);
				a {
					color: $gray-darker;
				}
				i.fa {
					color: $gray-darker;
				}
			}
		}
		.panel__extra {
			@extend .wrapper;
			@include gs-span(m,all);
			margin-top: rem($rhythm-unit)*2;
		}
		.panel__footer {
			@extend .panel__body;
			background: none;
			text-align: center;
			border: none;
			margin-bottom: 0;
			margin-top: rem($rhythm-unit)*3;
			ul.meta {
				margin-bottom: 0;
			}
			blockquote p {
				@include font-size($blockquote-font-size,$line-height:false,$margin-bottom:false);
			}

		}
		figure {
			text-align: center;
			img {
// 				max-width: 50%;
				display: block;
				margin: 0 auto;
			}
		}
		figcaption {
			font-style: normal;
			@include font-size($h2,$line-height:false,$margin-bottom:false);
		}
	}



	// Services
	&--services {
		border-top: 10px $border-style $brand-services;
		.panel__heading {
			@include gs-span(m,all);
			padding-bottom: 0;
			margin-bottom: 0;
			position: relative;
		}
		.panel__body {

		}
		.panel__footer {
			background: $brand-services;
		}
	}

	// Projects
	&--projects {
		border-top: 10px $border-style $brand-projects;
		.panel__heading {
			@include gs-span(m,all);
			padding-bottom: 0;
			margin-bottom: 0;
			position: relative;
			figure {
				max-width: 15%;
				.block--split & {
					display: none;
				}
			}
		}
		.panel__footer {
			background: $brand-projects;
		}
		&--featured {
			background: none;
			border: none;
			.carousel__items__item {
				min-height: 925px;
			}
			img {
				margin-bottom: rem($rhythm-unit)*2;
			}
			.panel__heading {
				padding: rem($rhythm-unit)*6 rem($rhythm-unit)*2 rem($rhythm-unit)*2;
				margin-bottom: 0;
				text-align: center;
			}
			.panel__body {
				padding: rem($rhythm-unit)*2;
				text-align: center;
				h2 {
					@include font-size($font-size-jumbo,$line-height:false,$margin-bottom:false);
					color: $white;

					line-height: normal;
					small {
						text-transform: none;
						display: block;
						color: $gray-light;
						font-family: $base-font-family;
						@include font-size($font-size-small,$line-height:false,$margin-bottom:false);
					}
				}
				p {
					color: $white;
				}
			}
			.content {
				@include gs-span(m,all);
				margin-bottom: rem($rhythm-unit)*6;
				@include gs-media(d,min) {
					margin-bottom: 0;
					@include gs-span(d,1,6);
					text-align: left;
				}
			}
			figure {
				@include gs-span(m,all);
				@include gs-media(d,min) {
					clear: none;
					@include gs-span(d,7,12);
				}
				img {
					max-width: 75%;
					margin: 0 auto;
				}
			}
		}

	}

	// Articles
	&--articles {
		border-top: 10px $border-style $brand-articles;
		.panel__heading {
			@include gs-span(m,all);
			padding-bottom: 0;
			margin-bottom: 0;
			position: relative;
			figure {
				max-width: 15%;
				.block--split & {
					display: none;
				}
			}

		}
		.panel__footer {
			background: $brand-articles;
		}
		&--featured {
			img {
				margin-bottom: rem($rhythm-unit)*2;
			}
			.panel__heading {
				padding: rem($rhythm-unit)*6 rem($rhythm-unit)*2 rem($rhythm-unit)*2;
				margin-bottom: 0;
				padding-bottom: 0;
				text-align: center;
				h1 { text-align: left;}
			}
			.panel__body {
				padding: rem($rhythm-unit)*2;
				text-align: left;
				h2 {
					@include font-size($font-size-jumbo,$line-height:false,$margin-bottom:false);
					color: $brand-tertiary;
				}
			}
		}
	}

	// Case Studies
	&--casestudies {
		border-top: 10px $border-style $brand-casestudies;
		.panel__footer {
			background: $brand-casestudies;
		}
	}

	// Left and Right blocks
	.block--left-panels &, .block--right-panels & {
		padding: 0;
		&__footer {
			@include gs-span(m,all);
			padding: rem($rhythm-unit) rem($rhythm-unit)*2;
			p {
				margin-bottom: 0;
			}
		}
	}
}

ul.services {

	li {
		@include zero;
		@include gs-span(m,all);
		margin-bottom: rem($rhythm-unit);
		@include gs-media(d,min) {
			margin-bottom: 0;
			&:nth-of-type(4n+1) {
				clear: both;
				@include gs-span(d,1,3);
			}
			&:nth-of-type(4n+2) {
				clear: none;
				@include gs-span(d,4,6);
			}
			&:nth-of-type(4n+3) {
				clear: none;
				@include gs-span(d,7,9);
			}
			&:nth-of-type(4n+4) {
				clear: none;
				@include gs-span(d,10,12);
			}
		}
	}
}