// Panels
// ---------------------------
// styles for Panels, overrides Bootstrap

.panel {
	// Headings
	&__heading {
		border-bottom: none;
		padding: rem($rhythm-unit) rem($rhythm-unit)*2;
		figure {
			margin-bottom: rem($rhythm-unit)*2;
		}
	}
	// Body
	&__body {
		padding: rem($rhythm-unit)*2;
		.content {
			padding: 0;
			p {
				margin-bottom: rem($rhythm-unit);
			}
		}
	}
}

